@font-face {
  font-family: 'Satoshi Variable';
  src: url('../public/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-stretch: condensed; /* 设置字体为紧缩 */
}

body {
  margin: 0;
  font-family: 'Satoshi Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 如果你想要保留原始的 code 字型設定，可以在這裡加入 */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
